@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    height: 100vh;
    background-color: rgb(177, 230, 236);
}

h1 {
    font-style: 50px;
    Letter-spacing: 4px; 
    color: black; 
    white-space: nowrap;
    text-shadow: 4px 4px 10px black;
}

.container {
    text-align: center;
}

.btn {
    border: none;
    padding: 30px 50px;
    margin: 10px;
    background-color: white;
    font-size: 20px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px black, -4px -4px 8px black;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(o, o, o, 0.3);
    font-weight: 500;
    text-transform: capitalize;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn:active {
    background-size: 105%;
}